on: [push, workflow_dispatch]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: list all files
        shell: bash
        run: ls -al
      - name: show changed files
        shell: bash
        run: git diff --name-only origin/$GITHUB_BASE_REF...${{ github.sha }}
      - uses: 2DegreesInvesting/actions/check-file-encodings-in-PR@v8.3
