on: [push]

jobs:
  test_job:
    runs-on: ubuntu-latest
    name: A job that uses the 2dii check file encodings in PR GH Action
    steps:
      - uses: actions/checkout@v2
      - uses: 2DegreesInvesting/actions/check_file_encodings_in_PR@v1
