name: check file encodings in PR
on: [pull_request]
jobs:
  file-encoding:
    name: file encooding check
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: run the checkout action
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: list all files
        shell: bash
        run: ls -al
      - name: show changed files
        shell: bash
        run: git diff --name-only origin/$GITHUB_BASE_REF...${{ github.sha }}
      - uses: 2DegreesInvesting/actions/check-file-encodings-in-PR@v8.3
