on: [push, workflow_dispatch]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v2
      - name: list all files
        shell: bash
        run: ls -al
      - uses: 2DegreesInvesting/actions/check-file-encodings-in-PR@v8.3
